body {
    
background-image:url(fondpok.png);
    
}


h1
{
    font-family: "Crete Round", serif;
    font-size: 45px;
    color: #FF0000;
    text-align: center;
}

div
{
    text-align:center;
    color:azure;
    font-size: 30px;
    
}









